/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/cache

/.idea
/.vscode

public_html/storage
public_html/hot

storage/*.key

storage/app/*
storage/framework/*
storage/logs/*

/.vagrant
/public/plugins/
/composer.lock
/package-lock.json
/.php-cs-fixer.cache
/tmp/
